.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

.app-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.auth-block {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Adjusted width for both forms */
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #007BFF;
  color: white;
  text-align: center;
}
.right-side h1 {
  font-size: 4rem; 
  font-weight: bold;
  margin-bottom: 20px; 
}
.welcome-text{
  font-size: 1.3rem;
}
.new-line {
  font-size: 1.1rem;
  margin-top: 15px;
  display: flex; 
  align-items: center;
  margin-left: 10px;
  padding-left: 220px;
}

.new-line i {
  margin-right: 10px; 
  font-size: 1.5rem; 
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
/* Additional styles for form container */
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}